version: "3.9"

services:
  app:
    build: .
    ports:
      - "8501:8501"
    environment:
      - PORT=8501
    command: >
      streamlit run src/ui/streamlit.py
      --server.port=${PORT}
      --server.address=0.0.0.0

